<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vudn.myfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_learn_cook"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrpJYrYpk0b_eC6hyungNMGItxEyVswuE" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.search.SearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.order.DatGiaoHangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:configChanges="keyboardHidden"
            android:name=".view.order.GioHangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".view.beginscreen.SlashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.user.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.user.DangKyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".view.user.KhoiPhucMatKhauActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".view.other.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.other.PolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.map.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.restaurant.ChiTietQuanAnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity
            android:name=".view.restaurant.ThucDonActivity"
            android:screenOrientation="portrait">
            </activity>

        <activity
            android:name=".view.restaurant.HienThiChiTietBinhLuanActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.restaurant.CapNhatDanhSachWifiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.restaurant.PopupCapNhatWifiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
        <activity
            android:name=".view.restaurant.DanDuongToiQuanAnActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.restaurant.BinhLuanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".view.restaurant.ChonHinhBinhLuanActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.restaurant.ThemQuanAnActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.order.ChiTietDonHangActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>